<div ng-controller="IndexCtrl">
    <section class="container-fluid">
        <article class="col-md-12">
            <h2>Règles du jeu</h2>
            <p>Chaque partie vous donnera une séquence de 10 photos acompagnées de la carte d’une ville. Le but est de
                retrouver les lieux de ces photos et de placer, le plus précisément et le plus rapidement possible, le
                lieu de la photo sur la carte.<br><br>

                Toutes les photos d'une série concernent la même ville.<br><br>

                Chaque réponse permet de gagner un certain nombre de points, en fonction de la précision du placement et
                de la rapidité de la réponse.<br><br>

                L'objectif pour une partie est d'obtenir le maximum de points.<br><br>

                La partie est terminée lorsque les 10 photos ont été localisées.<br><br>

                Bon jeu !
            </p>
        </article>
        <article class="col-md-5 table-responsive" ng-controller="IndexScore">
        <h2>Hall of fame</h2>
            <table class="tabScore table table-bordered table-striped">
                <thead>
                <tr>
                    <th>
                        Place
                    </th>
                    <th>
                        Pseudo
                    </th>
                    <th>
                        Score
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="scoreA in scores | limitTo : 5"><td>{{scoreA.place}}</td><td>{{scoreA.pseudo}}</td><td>{{scoreA.score}}</td></tr>
                </tbody>
            </table>
            <a href="scores" class="btn btn-info">Détails</a>
        </article>
        <article class="col-md-6 col-md-offset-1">
            <h2>Lancer une partie</h2>
            <form name="login">
                <input type="text" name="loginPseudo" ng-model="pseudo" ng-maxlength="6" required>
                <p class="error" ng-show="login.loginPseudo.$error.required">Merci de renseigner votre pseudo</p>
                <p class="error" ng-show="login.loginPseudo.$error.maxlength">Votre pseudo est trop long</p>
                <a class="btn btn-info btn-sm" ng-hide="login.loginPseudo.$error.required || login.loginPseudo.$error.maxlength" ng-click="creaPlayer()">JOUER</a>
            </form>
        </article>
    </section>
</div>