<section class="game backGround" ng-controller="PlayCtrl" ng-init="init()">
    <section class="col-md-10 col-md-offset-1">
        <h1 class="titre">Photo n°{{indiceImg}}/10</h1>
        <section class="row interfaceGame">
            <article class="pPhotos col-md-6 sectionPhoto">
                <img src="photolocate/assets/img/{{photo.photo.url}}" class="photo" id="photo">
            </article>
            <article class="col-md-6 sectionMap">
                <div id="map2" class="gamemap"></div>
            </article>
        </section>
        <section class="row chrono" id="chrono"></section>
        <section class="results row">
            <article class="col-md-3 temps">
                <p>Temps : </p>
                <p id="resultTemps"></p>
            </article>
            <article class="col-md-3 points">
                <p>Points : </p>
                <p id='resultPoints'></p>
            </article>
            <article class="col-md-6 btnSuivant">
                <a ng-show="bouton" ng-click="nextImage()" class="btn btn-info suivant" id="suivant">
                    Suivant
                </a>
            </article>
        </section>

        <script>
            var startTime = 0;
            var start = 0;
            var end = 0;
            var diff = 0;
            var timerID = 0;
            var sec=0;
            var msec=0;
            var finalsec=0;
            function chrono() {
                end = new Date();
                diff = end - start;
                diff = new Date(diff);
                msec = diff.getMilliseconds();
                sec = diff.getSeconds();
                if (sec < 10) {
                    sec = "0" + sec
                }
                if (msec < 10) {
                    msec = "00" + msec
                }
                else if (msec < 100) {
                    msec = "0" + msec
                }
                document.getElementById("chrono").innerHTML = sec + "." + msec + ' secondes';
                timerID = setTimeout("chrono()", 10);
            }
            function chronoStart(){
                start = new Date();
                chrono();
            }
            function chronoStop() {
                clearTimeout(timerID);
                $("#chrono").innerHTML = "0";
                finalsec = sec;
            }
            //démarrer le chronomètre à l'affichage du niveau
            $('document').ready(
                    function() {
                        $('.results').hide();
                        chronoStart();
                    }
            );
        </script>
    </section>
</section>