<h1 class="titre">Résultats</h1>
<section class="interfaceResult" ng-init="init2()">
    <article class="row articleMap2">
        <div class="col-lg-12 divMap2">
            <div id="map3"></div>
        </div>
    </article>
    <article class="row articleResult">
        <div id="divScore" class="col-md-3" >
            <h4>Score total :</h4>
            <p>{{total}} points</p>
        </div>
        <div id="divClassement" class="col-md-3" ng-init="init3()" ng-controller="ClassementCtrl">
            <h4>Classement :</h4>
            <p>{{classementJoueur}}/{{taille}}</p>
        </div>
        <div class="col-lg-2">
            <a href="#/" class="btn btn-info btnResult">Rejouer</a>
        </div>
        <div class="col-lg-2">
            <a href="scores" class="btn btn-info btnResult">Scores</a>
        </div>
    </article>
</section>

