/*général*/
body{
    background-image: url("../img/imgSite/bg-img.jpg");
    background-size: cover;
    height: 100%;
    color: #11679e;
}
@font-face {
    font-family: "copperplate";
    src: url('../fonts/copperplate-gothic-light.ttf');
}
@font-face {
    font-family: "CaslonPro";
    src: url('../fonts/Caslon_Pro.ttf');
}
.leCadre {
    background-color: white;
    background-image: none;
    margin-top: 50px;
    height: 83%;
    border-radius: 10px;
    border: 2px solid #337ab7;
    padding : 25px;
}

.titre {
    font-family: "copperplate", "time news roman";
    color: red;
}
button{
    font-family: "copperplate", "time news roman";
    color: white;
}
.contentHeader{
    cursor: pointer;
}
/*page accueil*/
header {
    color: #fff;
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    background-image: url("../img/imgSite/header-bg.jpg");
    -moz-box-shadow: 0px 5px 10px 0px #0a3267;
    -webkit-box-shadow: 0px 5px 10px 0px #0a3267;
    -o-box-shadow: 0px 5px 10px 0px #0a3267;
    box-shadow: 0px 5px 10px 0px #0a3267;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#0a3267, Direction=180, Strength=10);
}
#logo {
    display: inline-block;
    line-height: 10px;
    width: 20px;
    margin-right: 10px;
}
#appName{
    display: inline-block;
    vertical-align : middle;
    font-family: CaslonPro, "Time News Roman";
}

p {
    text-align: justify;
}

.error {
    color: red;
}

/*Page admin*/
.mapAdmin {
    height : 400px;
}

form h2 {
    margin-top: 0;
}

/*Page scores*/
.backGround {
    height: 800px;
}
.PodiumImage {
    background-image: url("../img/imgSite/podium.png");
    height:325px;
    background-size: 228px 275px;
    background-repeat: no-repeat;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>thead>tr:nth-child(odd)>th {
    background-color: #2aabd2;
    color: white;
}
.table {
    table-layout: fixed;
    word-wrap: break-word;
}
.tabScore{
    width: 100%;
    margin-right: 0;
}

.podium1{
    bottom: 45px;
    position: absolute;
    padding: 0;
    text-align:center;
}
.podium2{
    padding: 0;
    bottom: 25px;
    position: absolute;
    text-align: left;
}
.podium3{
    padding: 0;
    bottom: 25px;
    position: absolute;
    text-align: right;
}

/*Page Game*/
.sectionMap{
    height:100%;
    padding: 0;
    border: 1px solid #169ef5;
    box-sizing: border-box;
}
.gamemap{
    width: 100%;
    height:100%;
}
.sectionPhoto{
    height: 100%;
    padding: 0;
    border: 1px solid #169ef5;
    border-right: none;
    box-sizing: border-box;
    background-color: #b1d6ee;
}
.sectionPhoto .photo {
    max-width: 100%;
    height:100%;
}
.pPhotos{
    text-align: center;
}
.interfaceGame{
    height: 450px;
}
.results, .chrono{
    margin-top: 25px;
    font-size: 18px;
}
.suivant{
    float: right;
}
.points, .btnSuivant, .temps{
    padding: 0;
}

/*Page Terminer*/
.interfaceResult {
    height: 450px;
}
#map3{
    border: 1px solid #169ef5;
    box-sizing: border-box;
    height: 100%;
    background-color: #101010;
}
.articleMap2{
    height:100%;
    padding: 0;
}
.divMap2{
    height:100%;
}
.articleResult{
    margin-top: 25px;
}
.btnResult{
    width: 80%;
}
h4{
    color: red;
}

.imgPopup {
    width : 150px;
    height : 150px;
}