{% block contenu %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 jumbotron alert-success text-center">
                <h2>Ajout de la photo réussi</h2>
            </div>
        </div>
    </div>
{% endblock %}