{% extends "General.html.twig" %}
{% block contenu %}
    {% if add %}
        {% include 'addPhoto.html.twig' %}
    {% endif %}
    {% if incomplet %}
        {% include 'incomplet.html.twig' %}
    {% endif %}
    <section class="row">
        <div id="map" class="col-lg-6 mapAdmin"></div>
        <form action="/photolocate/ajoutPhoto" method="post" enctype="multipart/form-data" class="col-lg-5 col-lg-offset-1">
            <h2>Ajout d'un nouveau lieu</h2>
            <div class="form-group">
                <label>Titre de la photo:</label>
                <input type="text" name="titre-img" class="form-control" required/>
            </div>
            <div class="form-group">
                <label>Photo :</label>
                <input class="input-file" type="file" name="image1">
            </div>
            <h2>Emplacement du lieu :</h2>
            <div class="form-group">
                <label>Latitude:</label>
                <input type="text" name="lat" id="labLat" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Longitude:</label>
                <input type="text" name="long" id="labLng" class="form-control" required>
            </div>
                <button class="btn btn-primary" type="submit" name="validFormAdmin">Valider</button>
                <button href="/photolocate" class="btn btn-primary">Accueil</button>
        </form>
    </section>

    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

    <!--Je creer un script pour afficher la map ainsi que plusieur info (nom, vleo dispo et emplacement dispo) pour chaque station-->
    <script>

        // create a map in the "map" div, set the view to a given place and zoom
        var map = L.map('map').setView([48.6856292, 6.1547173], 14);
        var coucou = null;

        // add an OpenStreetMap tile layer
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        map.on('click', function(e) {
            if(coucou != null)
                map.removeLayer(coucou);
            coucou = L.marker([e.latlng.lat, e.latlng.lng]).addTo(map).bindPopup('ok');
            $('#labLat').val(e.latlng.lat);
            $('#labLng').val(e.latlng.lng);
        });
    </script>
{% endblock %}