<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1"/>
    <link rel="stylesheet" href="photolocate/assets/css/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="photolocate/assets/css/style.css"/>
    <link rel="stylesheet" href="photolocate/assets/js/leaflet/leaflet.css" />
    <title>PhotoLocate</title>
</head>
<body>
    <header class="container-fluid">
        <div class="col-md-10 col-md-offset-1 contentHeader" onclick="document.location.href='/photolocate' ">
            <img src="photolocate/assets/img/imgSite/marker-blanc.png" id="logo" />
            <h1 id="appName">PHOTOLocate</h1>
        </div>
    </header>
    <section class="leCadre col-md-10 col-md-offset-1">
        {% block contenu %}{% endblock %}
    </section>

    <script type="text/javascript" src="photolocate/assets/js/jquery/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="photolocate/assets/css/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="photolocate/assets/js/angular/lib/angular.js"></script>
    <script type="text/javascript" src="photolocate/assets/js/angular/lib/angular-route.js"></script>
    <script type="text/javascript" src="photolocate/assets/js/angular/lib/angular-resource.js"></script>
    <script type="text/javascript" src="photolocate/assets/js/angular/lib/angular-sanitize.js"></script>

    <script type="text/javascript" src="photolocate/assets/js/angular/GameApp.js"></script>
    <script type="text/javascript" src="photolocate/assets/js/angular/controller/IndexCtrl.js"></script>
    <script type="text/javascript" src="photolocate/assets/js/angular/controller/PlayCtrl.js"></script>
    <script type="text/javascript" src="photolocate/assets/js/angular/controller/TerminerCtrl.js"></script>

    <script src="photolocate/assets/js/leaflet/leaflet.js"></script>
</body>
</html>