{% block contenu %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 jumbotron alert-danger text-center">
                <h2>Ajout rejetté</h2>
                <p>
                    Les données sont incomplètes.
                </p>
            </div>
        </div>
    </div>
{% endblock %}