{% extends "General.html.twig" %}
{% block contenu %}
    <h2 class ="titre">Hall Of Fame</h2>
    <section class="row">
        <article class="PodiumImage col-md-4 col-md-offset-1">
            <p class="row">
                <span class ="podium1 col-md-3 col-md-offset-2">
                    1ere place
                </span>
            </p>
            <p class="row">
                <span class ="podium2 col-md-3">
                    2eme place
                </span>
            </p>
            <p class="row">
                <span class ="podium3 col-md-3 col-md-offset-4">
                    3eme place
                </span>
            </p>
        </article>
        <article class="col-md-7">
            <table class="tabScore table table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        <th>
                            Place
                        </th>
                        <th>
                            Pseudo
                        </th>
                        <th>
                            Score
                        </th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </article>
    </section>
    <section class="row divbutton">
        <a href="/" class="boutonScore btn btn-info col-md-2 col-lg-offset-5 ">
            Retour
        </a>
    </section>

    <script type="text/javascript" src="photolocate/assets/js/jquery/jquery-2.1.1.js"></script>

    <script>
        $.getJSON("play/scores", function(data){
            for (var i in data.scores){
                $("<tr><td>" + data.scores[i].place + "</td><td>" + data.scores[i].pseudo + "</td><td>" + data.scores[i].score +
                "</td></tr>").appendTo('.tabScore');
            };
            $('.podium1').text(data.scores[0].pseudo);
            $('.podium2').text(data.scores[1].pseudo);
            $('.podium3').text(data.scores[2].pseudo);
        });
    </script>
{% endblock %}